.header1{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    white-space:nowrap
}
.header2{
    background: #eeeeee;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: bold;
}
.ant-form-item{
    margin-bottom: 0;
}
.gutter-example .ant-row > div {
    background: transparent;
    border: 0;
}