.header{
    background: #eeeeee;
    padding: 10px 0;
    margin-bottom: 10px;
}
.ant-form-item{
    margin-bottom: 0;
}
.gutter-example .ant-row > div {
    background: transparent;
    border: 0;
}